<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar navbar-default">
          <div class="container navbar-container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><%= link_to 'Статьи', posts_path %></a>
            </div>
            <div class="navbar-header ">
              <%= link_to 'Контакты', contacts_posts_path, class: 'navbar-brand' %>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><%= link_to 'Новая статья', new_post_path %></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container main">
      <div class="row">
        <div class="col-md-8">
          <% flash.each do |name, message| %>
          <div class="alert alert-<%= name %>">
            <%= message %>
          </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-md-4">
          <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
            <%= link_to tag.name,tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  </body>
</html>
